nav {
    display: flex;
    /* 1 */
    justify-content: space-between;
    /* 2 */
    padding: 20px 30px;
    /* 3 */
    background-color: rgba(2, 120, 34, 0.9);
    /* 4 */
    height: 50px;
    position: relative;
}

h2 {
    color: white;
}

nav ul {
    display: flex;
    /* 5 */
    list-style: none;
    /* 6 */
}

nav li {
    padding-left: 1rem;
    margin-right: 20px;
    /* 7! */
}

ul,
h2 {
    margin: 0;
}

nav li a {
    text-decoration: none;
}