.form ul {
    margin-left: -40px;
}

.form li {
    list-style: none;
}

.return {
    text-align: center;
}

.hint {
    font-weight: 100;
    color: lightgrey;
}

.form input,
.form textarea {
    width: 700px;
    height: 20px;
    padding: 10px 30px;
    border: 1px solid lightgrey;
    border-radius: 30px;
    margin: 10px 0px 20px 0px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form button {
    background-color: green;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 10px;
}

.form {
    border-radius: 5px;
    padding: 15px;
}

#error-messages {
    color: red;
    font-size: 10px;
}