.login {
    background-color: white;
    border-radius: 100px;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    color: black;
    display: flex;
}

.login:hover {
    background-color: lightgrey;
}