body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    font-family: sans-serif;
}

.card {
    margin-bottom: 36px;
}

.btn-card {
    margin-bottom: 90px !important;
}

.search-bar-container {
    background-color: lightgrey;
    justify-content: center !important;
}

.card .song-title {
    font-size: 16px;
    text-align: left;
}

.card .song-artist {
    font-size: 12px;
    font-weight: lighter;
    text-align: left;
    margin-top: -8px;
}

.card-button p {
    margin: auto;
    color: black !important;
    font-size: 8px !important;
}

.selected-tracks-container {
    /* background-color: lightgreen; */
    padding: 0px;
    margin-bottom: 0px;
}